<html>
  <%- include('partials/head', {title: "Jokes - New"}) %>

  <body>
    <header>
      <h1>New Joke</h1>
    
    </header>
    <main>
      <a href="/">Back</a>
      <%- include('partials/errors') %>
      <form action="/new" method="POST" class="newForm">
        <label for="setup">Setup*: </label>
        <input type="text" name="setup" id="setup" />

        <label for="punchline">Punchline*: </label>
        <input type="text" name="punchline" id="punchline" />

        <label for="poster">Your name (optional): </label>
        <input type="text" name="poster" id="poster" />

        <button type="submit">Submit</button>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
